# <font color="red">Objectives</font>
In this presentation we want to introduce Python basic data types, namely:

- Integer
- Floating point
- Boolean
- String

### Useful Links

- <a href="https://docs.python.org/3/library/stdtypes.html">Python Built-in Types</a>
- <a href="https://beginnersbook.com/2019/03/python-data-types/">Python Data Types</a>

## <font color="red">Python Primitive Data Types</font>

- Data types are the classification or categorization of data items.
- Data types represent a kind of value which determines what operations can be performed on that data.
- Every value in Python has a datatype.

Python has four primitive data types:

* Integer
* Float
* Boolean
* String

We will cover the above data types in addition to complex numbers.

## <font color="red">Concept of Variables in Python</font>

#### What are variables?

* Variables are the most important aspect of any programming language.
* Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.
* Python variables do not need explicit declaration to reserve memory space.
   * The declaration happens automatically when you assign a value to a variable.
   * The equal sign (`=`) is used to assign values to variables.
   * Based on the data type of a variable, the Python interpreter allocates memory and decides what can be stored in the reserved memory.
   * A variable can change its type over the course of the program's execution.
   * By assigning different data types to variables, you can store integers, decimals or characters in these variables.

#### Basic rules for creating variables
It is important to have in mind the following rules when creating variables:
- The name of a variable cannot start with a number. It needs to start with either an alphabet or the underscore character.
- Variable names are case sensitive.
- Reserved words cannot be used as variable names.

## <font color="red"> Integers </font>

* An integer is a whole number that could hold a zero, positive or negative value.
* Integers can be of any length, it is only limited by the memory available.

In [1]:
a = 1234567890
print(a)

1234567890

In [2]:
b = a + 11
print(b)

1234567901

- The underlying type of a Python integer, irrespective of the base used to specify it, is called `int`.
- We can use the `type()` function to determine the type of any Python data item.

In [3]:
type(10)

int

In [4]:
type(b)

int

- We can also use the `isinstance()` function to check if a data item belongs to a particular data type.

In [5]:
a = 1234567890
print(a, "is of type", type(a))
print(a, "is integer?", isinstance(a, int))

1234567890 is of type <class 'int'>
1234567890 is integer? True

### Integer Arithmetic

In Python, __variables are not declared__. The type of a variable is determined when it is assigned a value.

#### <font color="blue">Example 1</font>

In [6]:
a = 1
b = 2
c = 3
d = 4
e = 5
f = 6
g = 7
h = 8

In [7]:
print(a + b)

3

In [8]:
print(c - d)

-1

In [9]:
print(e * f)

30

In [10]:
print(g / h)

0.875

**What do you see in the operation `g / h`?**
- In Python the symbol `/` is used for floating point division.
- For integer division, use instead `//`.

#### <font color="blue">Example 2</font>

In [11]:
x = 17
y = 3

In [12]:
print(x /  y)  # gives 5.66666666667

5.666666666666667

In [13]:
print(x // y)  # gives 5

5

In [14]:
print(x %  y)   # gives 2

2

### <font color="purple"> Going Deeper with Integers</font>

The following strings can be prepended to an integer value to indicate a base other than 10:

| Prefix |	Interpretation	| Base |
| --- | --- | --- |
| 0b (zero + lowercase letter 'b') | Binary| 	2|
| 0B (zero + uppercase letter 'B')|
| 0o (zero + lowercase letter 'o')|  Octal| 	8|
| 0O (zero + uppercase letter 'O')|
| 0x (zero + lowercase letter 'x')|  Hexadecimal| 	16|
| 0X (zero + uppercase letter 'X')|

Octal numbers:

In [15]:
a = 0o10

In [16]:
print(f"Value: {a} \n Type: {type(a)}")

Value: 8
 Type: <class 'int'>

Hexadecimal numbers:

In [17]:
b = 0x10

In [18]:
print(f"Value: {b} \n Type: {type(b)}")

Value: 16
 Type: <class 'int'>

Binary numbers:

In [19]:
c = 0b001

In [20]:
print(f"Value: {c} \n Type: {type(c)}")

Value: 1
 Type: <class 'int'>

## <font color="red">Floating Point Numbers </font>

* The float type in Python designates a floating-point number.
* Float values are specified with a decimal point.
* A floating-point number is accurate up to 15 decimal places.
* The character e or E followed by a positive or negative integer may be appended to specify scientific notation.

In [21]:
7.94

7.94

In [22]:
type(7.94)

float

In [23]:
.56

0.56

In [24]:
56.

56.0

In [25]:
2.6e-5

2.6e-05

In [26]:
a = 0.1234567890123456789
print(a, "is of type", type(a))
print(a, "is float?", isinstance(a, float))

0.12345678901234568 is of type <class 'float'>
0.12345678901234568 is float? True

* Floating point numbers are represented internally as binary (base-2) fractions.
* Most decimal fractions cannot be represented exactly as binary fractions, so in most cases the internal representation of a floating-point number is an approximation of the actual value.

#### Operations on Floats

In [27]:
print(int(1.3))   # gives 1
print(int(1.7))   # gives 1
print(int(-1.3))  # gives -1
print(int(-1.7))  # gives -1

1
1
-1
-1

The `round()` function returns a floating-point number rounded to the specified number of decimals.

```python
   round(float_number [, ndigits])
```

It takes two parameters:

+ **float_number** - the floating point number to be rounded
+ **ndigits (optional)** - number up to which the given number is rounded; defaults to 0.

Things to consider:

- If `ndigits` is not provided, the returned value is the nearest integer.
- If `ndigits` is present, it will round to the number of places given. The return type will be a float.
- The returned value will be rounded to `+1` if the value after the decimal point is `>=5` else it will return the value as it is up to the decimal places mentioned

#### <font color="blue">Example 3</font>

Consider the positive floating point numbers:

In [28]:
float_num1 = 10.60
float_num2 = 10.40
float_num3 = 10.3456
float_num4 = 10.3445

Let us perform various rounding operations:

In [29]:
print("Rounded value without num_of_decimals:", round(float_num1))

Rounded value without num_of_decimals: 11

In [30]:
print("Rounded value without num_of_decimals:", round(float_num2))

Rounded value without num_of_decimals: 10

In [31]:
print("Rounded value with num_of_decimals as 2:", round(float_num3, 2))

Rounded value with num_of_decimals as 2: 10.35

In [32]:
print("Rounded value with num_of_decimals as 2:", round(float_num4, 2))

Rounded value with num_of_decimals as 2: 10.34

#### <font color="blue">Example 4</font>

Let us see a few examples of how rounding works on negative numbers:

In [33]:
num = -2.8
num1 = -1.5

In [34]:
print("The value after rounding is", round(num))

The value after rounding is -3

In [35]:
print("The value after rounding is", round(num1))

The value after rounding is -2

## <font color="red">Complex Numbers</font>

- A complex number consists of an ordered pair of real floating point numbers denoted by `a + bj`, where `a` is the real part and `b` is the imaginary part of the complex number.

In [36]:
3.0 + 9j

(3+9j)

In [37]:
type(3.0+9j)

complex

#### <font color="blue">Example 5</font>

In [38]:
a = complex(3.0,9)
b = complex(1,2)

In [39]:
print("a =                 ", a)
print('Real Part =         ', a.real)
print('Imaginary Part =    ', a.imag)
print('Complex conjugate = ', a.conjugate())

a =                  (3+9j)
Real Part =          3.0
Imaginary Part =     9.0
Complex conjugate =  (3-9j)

In [40]:
print ("a*a= ",a*a)
print ("a/b= ",a/b)
print ("a*b= ",a*b)

a*a=  (-72+54j)
a/b=  (4.2+0.6j)
a*b=  (-15+15j)

## <font color="red">Booleans</font>

* The python data type `bool` is used to store two values i.e `True` and `False`.
* Booleans are used to test whether the result of an expression is true or false.

In [41]:
true=True
print(type(true))
true=123
type(true)

<class 'bool'>

int

In [42]:
type(False)

bool

- A Boolean expression is an expression that evaluates to produce a result which is a Boolean value.
- We can store a Boolean value in a variable:

In [43]:
my_bool = 5 > 8

and then print the Boolean value with a call to the `print()` function:

In [44]:
print(my_bool)

False

To check the boolean value of an expression or a variable, pass it as a parameter to the bool function:

```python
   print(bool(expression))
```

or

```python
   print(expression)
```

Booleans can be used when there is a need to compare two or more values.

```python
   x == y    # x is equal to y
   x != y    # x is not equal to y
   x > y     # x is greater than y
   x < y     # x is less than y
   x >= y    # x is greater than or equal to y
   x <= y    # x is less than or equal to y
```

Check if x and y are equal:

In [45]:
print(3==4)
print(bool(3==4))

False
False

Check if x and y are not equal:

In [46]:
print(3!=4)
print(bool(3!=4))

True
True

Check if x is greater than y:

In [47]:
print(3>4)
print(bool(3>4))

False
False

Check if x is less than y:

In [48]:
print(3<4)
print(bool(3<4))

True
True

Check if x is greater than or equal to y:

In [49]:
print(3>=4)
print(bool(3>=4))

False
False

Check if x is less than equal to y:

In [50]:
print(3<=4)
print(bool(3<=4))

True
True

## <font color="red">Strings</font>

* Strings are sequences of character data.
* The string type in Python is called str.
* String literals may be delimited using either single or double quotes.
* All the characters between the opening delimiter and matching closing delimiter are part of the string.
* <font color='blue'>Are immutable</font>.

In [51]:
print("Welcome to the Python Camp!")

Welcome to the Python Camp!

In [52]:
type("Welcome to the Python Camp!")

str

* A string in Python can contain as many characters as you wish.
* The only limit is your machine’s memory resources.

In [53]:
print("This string contains a single quote (') character.")

This string contains a single quote (') character.

In [54]:
print('This string contains a double quote (") character.')

This string contains a double quote (") character.

<b> Escape Sequences in Strings </b>

In [55]:
print('This string contains a single quote (\'* character.')

This string contains a single quote ('* character.

In [56]:
print("This string contains a double quote (\") character.")

This string contains a double quote (") character.

In [57]:
print('abc')
print('a\
b\
c')

abc
abc

In [58]:
print('foo\\bar')

foo\bar

### <font color="purple">Going Deeper: Applying Special Meaning to Characters</font>

We want to represent escape sequences that are typically used to insert characters that are not readily generated from the keyboard or are not easily readable or printable.
<P>
Here is a list of escape sequences that cause Python to apply special meaning instead of interpreting literally:

| Escape Sequence| “Escaped” Interpretation |
| --- | --- |
| \a	| ASCII Bell (BEL) character
| \b	| ASCII Backspace (BS) character
| \f	| ASCII Formfeed (FF) character
| \n	| ASCII Linefeed (LF) character
| \N{<name>}| 	Character from Unicode database with given <name>
| \r	| ASCII Carriage Return (CR) character
| \t	| ASCII Horizontal Tab (TAB) character
| \uxxxx	| Unicode character with 16-bit hex value xxxx
| \Uxxxxxxxx	| Unicode character with 32-bit hex value xxxxxxxx
| \v	| ASCII Vertical Tab (VT) character
| \ooo	| Character with octal value ooo
| \xhh	| Character with hex value hh

In [59]:
print("a\t\t\tb")

a			b

In [60]:
print("\141", "\x61")

a a

In [61]:
print("a\n\tb ")

a
	b

In [62]:
print('\u2192 \N{rightwards arrow}')

→ →

### Raw Strings

- A raw string literal is preceded by `r` or `R`, which specifies that escape sequences in the associated string are not translated.
- The backslash character is left in the string.

In [63]:
print('foo\nbar')

foo
bar

In [64]:
print(r'foo\nbar')

foo\nbar

In [65]:
print('foo\\bar')

foo\bar

In [66]:
print(R'foo\\bar')

foo\\bar

### Triple Quotes

- Triple-quoted strings are delimited by matching groups of three single quotes (`''' '''`) or three double quotes(`""" """`).
- Escape sequences still work in triple-quoted strings, but single quotes, double quotes, and newlines can be included without escaping them.
- Provide a convenient way to create a string with both single and double quotes in it.
- They are used to document Python codes

In [67]:
print('''This string has a single (') and a double (") quote.''')

This string has a single (') and a double (") quote.

In [68]:
string1 = """This is a
string that spans

across several lines"""
print(string1)

This is a
string that spans

across several lines

### Accessing Values in Strings
- Python does not support a character type; these are treated as strings of length one, thus also considered a substring.
- To access substrings, use the square brackets for slicing along with the index or indices to obtain your substring

In [69]:
astring1 = "Welcome To the Python Camp!"
astring2 = "A Training Course for Beginners."

In [70]:
print(astring1[3:10])

come To

In [71]:
print(astring1[3:15:1])

come To the

In [72]:
print(astring1[3:15:2])

cm ote

In [73]:
print(astring1[-2])

p

- Python allows to index from the zeroth position in Strings.
- Python also supports negative indexes.
- Index of ‘-1’ represents the last character of the String. Similarly, using ‘-2’, we can access the penultimate element of the string and so on.

| P | Y | T | H | O | N | - | S | T | R | I | N | G |
|---|---|---|---|---|---|---|---|---|---|---|---|---|
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 |10 |11 |12 |
|-13|-12|-11|-10|-9 |-8 |-7 |-6 |-5 |-4 |-3 |-2 |-1 |

#### Checking if a sub-string is in a string

In [74]:
print("Python" in astring1)

True

In [75]:
print("python" in astring1)

False

In [76]:
print("python" not in astring1)

True

### <font color="purple">Going Deeper: Updating Strings</font>
- You cannot modify a string for a <font color="red">**string is immutable**</font>.
    - A data item is considered to be immutable if once it is created, it cannot be changed.
- You can "update" an existing string by (re)assigning a variable to another string.
- The new value can be related to its previous value or to a completely different string altogether.

We can use the `id()` function to obtain the identity of an object. The identity is a unique integer for that object during its lifetime. This is also the address of the object in memory.

In [77]:
id_before_astring1 = id(astring1)
print(id_before_astring1)

2295206106160

In [78]:
astring1[8] = 't'

TypeError: 'str' object does not support item assignment

In [79]:
astring1 = astring1[0:8]+'t'+astring1[9:]
print(astring1)

Welcome to the Python Camp!

In [80]:
id_after_astring1 = id(astring1)
print(id_after_astring1)

2295205218544

In [81]:
astring3 = astring1 + " " + astring2[0] + " " + astring2[11:]
print(astring3)

Welcome to the Python Camp! A Course for Beginners.

### <font color="purple">Going Deeper: Built-in in String Operators</font>

`capitalize()`:

In [82]:
"funKY tOwn".capitalize()

'Funky town'

`lower()` and `upper()`:

In [83]:
"funky tOwn".lower()

'funky town'

In [84]:
"fuNky toWn".upper()

'FUNKY TOWN'

`split()`:

In [85]:
"funKY tOwn".split()

['funKY', 'tOwn']

In [86]:
"funKY tOwn".capitalize().split()

['Funky', 'town']

In [87]:
"I want to take you to, funKY tOwn".split("u")

['I want to take yo', ' to, f', 'nKY tOwn']

`strip()`:

In [88]:
csv_string = 'Dog,Cat,Spam,Defenestrate,1, 3.1415   \n\t'
csv_string.strip()

'Dog,Cat,Spam,Defenestrate,1, 3.1415'

`.join()`: allows you to glue a list of strings together with a certain string

In [89]:
clean_list = [x.strip() for x in csv_string.split(",")]
print(clean_list)

['Dog', 'Cat', 'Spam', 'Defenestrate', '1', '3.1415']

In [90]:
print(",".join(clean_list))

Dog,Cat,Spam,Defenestrate,1,3.1415

In [91]:
print("\t".join(clean_list))

Dog	Cat	Spam	Defenestrate	1	3.1415

`.replace()` strings in strings

In [92]:
csv_string = 'Dog,Cat,Spam,Defenestrate,1, 3.1415   \n\t'
alt_csv = csv_string.strip().replace(',', ' ')
print(alt_csv)

Dog Cat Spam Defenestrate 1  3.1415

In [93]:
print(csv_string.strip().replace(' ','').replace(',','\t'))

Dog	Cat	Spam	Defenestrate	1	3.1415

`.index()`:

In [94]:
s = 'My Funny Valentine'
s.index("y")

1

`.count()`:

In [95]:
s.count("y")

2

`.find()`: useful searching, and returning the index of the search

In [96]:
s.find("y")

1

In [97]:
s.find("y",2)

7

In [98]:
s[s.find("Funny"):]

'Funny Valentine'

Length of a string:

In [99]:
len(s)

18

**Boolean Methods**

| Method	| True if |
| --- | --- |
| `str.isalnum()` |	String consists of only alphanumeric characters (no symbols) |
| `str.isalpha()` |	String consists of only alphabetic characters (no symbols) |
| `str.islower()` |	String’s alphabetic characters are all lower case |
| `str.isnumeric()` |	String consists of only numeric characters |
| `str.isspace()` |	String consists of only whitespace characters |
| `str.istitle()` |	String is in title case |
| `str.isupper()` |	String’s alphabetic characters are all upper case |
| `str.startswith()` | String starts with the specified value |
| `str.endswith()` | String ends with the specified value |

In [100]:
number = "24579"
print(number.isnumeric())

True

In [101]:
letters = "PyTHoN"
print(letters.isnumeric())

False

In [102]:
movie = "2001: A SAMMY ODYSSEY"
book = "A Thousand Splendid Sharks"
poem = "sammy lived in a pretty how town"

In [103]:
print(movie.islower())
print(movie.isupper())
print(movie.startswith("20"))
print(movie.endswith("sSEY"))

False
True
True
False

In [104]:
print(book.istitle())
print(book.isupper())

True
False

In [105]:
print(poem.istitle())
print(poem.islower())

False
True

### String Formatting Operator



#### String `format()`

```python
string.format(value0, value1, ....)
```

#### `f-strings`
- Also called `literal string interpolation`, f-strings are string literals that have an `f` at the beginning and curly braces containing expressions that will be replaced with their actual values.
- Available in Python 3.6 or newer.


```python
f" {value0} {value1} ... "
```

In [106]:
value0 = "Saturday"
value1 = "groovy"

In [107]:
print('On {}, I feel {}'.format(value0, value1))

On Saturday, I feel groovy

In [108]:
print(f'On {value0}, I feel {value1}')

On Saturday, I feel groovy

In [109]:
print('On {0}, I feel {1}'.format(value0, value1))

On Saturday, I feel groovy

In [110]:
print(f'On {value1}, I feel {value0}')

On groovy, I feel Saturday

In [111]:
print('On {0}, I feel {0}'.format(value0, value1))

On Saturday, I feel Saturday

In [112]:
print(f'On {value0}, I feel {value0}')

On Saturday, I feel Saturday

In [113]:
print('{}'.format(value0*3))

SaturdaySaturdaySaturday

In [114]:
print(f' {value0*3}')

 SaturdaySaturdaySaturday

In [115]:
print(f' {value0*-1}')

We can produce a raw string with {value`!`r}:

In [116]:
print(f' {value0!r}')

 'Saturday'

You can assign by argument position or by name:

In [117]:
'{desire} to {place}'.format(desire='Fly me', place='the Moon')

'Fly me to the Moon'

In [118]:
'{desire} to {place} or else I wont visit {place}.'.format( \
                 desire='Fly me',place='the Moon')

'Fly me to the Moon or else I wont visit the Moon.'

In [119]:
a = {"desire": "I want to take you", "place": "funky town"}
'{desire} to {place}'.format(**a)

'I want to take you to funky town'

**Formatting comes after a colon (:)**

In [120]:
a = 3.14159

In [121]:
f"{a:03.2f}"  ==  "{:03.2f}".format(a)

True

In [122]:
"{0:03.2f}".format(a, 42)

'3.14'

In [123]:
"{1:03.2f}".format(a, 42)

'42.00'

Format also supports binary numbers:

In [124]:
c = 4225

In [125]:
"int: {0:d}  hex: {0:x}  oct: {0:o}  bin: {0:b}".format(c)

'int: 4225  hex: 1081  oct: 10201  bin: 1000010000001'

In [126]:
f"int: {c:d}  hex: {c:x}  oct: {c:o}  bin: {c:b}"

'int: 4225  hex: 1081  oct: 10201  bin: 1000010000001'

###  <font color="purple">Going Deeper: Type Casting</font>

- Type casting is the process of converting data from one type into another.
- There are a number of functions built in to Python which allow us to do these type conversions on basic data types.

**Convert to Integer**

In [127]:
v1 = int(2.7)        # 2
v2 = int(-3.9)       # -3
v3 = int("2")        # 2
v4 = int("11", 16)   # 17, base 16
v5 = int(False)
print(v1, v2, v3, v4, v5)

2 -3 2 17 0

**Convert to Float**

In [128]:
v6 = float(2)        # 2.0
v7 = float("2.7")    # 2.7
v8 = float("2.7E-2") # 0.027
v9 = float(False)    # 0.0
vA = float(True)     # 1.0
print(v6, v7, v8, v9, vA)

2.0 2.7 0.027 0.0 1.0

**Convert to String**

In [129]:
vB = str(4.5)        # "4.5"
vC = str(True)
print(vB, vC, type(vC))

4.5 True <class 'str'>

**Convert to Bolean**

In [130]:
vD = bool(0)         #       False;
vE = bool(3)         # True
vF = bool("PyTHoN")
vG = bool(list())
print(vD, vE, vF, vG)

False True True False

In [131]:
int1 = 4

# 4 converted to float
float1 = int1 + 2.1

# str1 = "My int:" + int1
# Error: no implicit type conversion from int to string
str1 = "My int:" + str(int1)

int2 = 4 + True # 5: bool is implicitly converted to int
print("float1 = {} \n str1  = {} \n".format(float1, str1, int2))

float1 = 6.1
 str1  = My int:4

In [132]:
age = 21
sign = 'You must be  {}-years-old to enter this bar'.format(age)
print(sign)

You must be  21-years-old to enter this bar

#### <font color="blue">Example 6</font>

- When you pass an argument through the command line, the type of the argument is a string.
- It is important to convert the argument to a desired type.

In [133]:
x = float(input("Give me a number: "))
print(x)

5.0

## <font color="blue"> Breakout</font>

Try to fix the code to print out the correct information by changing the strings so that:

- The length of the string is `20`.
- The first occurrence of `a` should be at index `8`.
- The number of `a`'s in the string should be `2`.

In [134]:
s = "Hey there! What should this string be?"
# Length should be 20
print(f"Length of s = {len(s)}")

# First occurrence of "a" should be at index 8
print(f"The first occurrence of the letter a = {s.index('a')}")

# Number of a's should be 2
print(f"a occurs {s.count(r'a')} times")

Length of s = 38
The first occurrence of the letter a = 13
a occurs 1 times

<details><summary><b>Click here to access the solution</b></summary>
<p>

```python
s = "Look, what a string!"
print(f"Length of s = {len(s)}")
print(f"The first occurrence of the letter a is at index {s.index('a')}.")
print(f"a occurs {s.count('a')} times")
```
    
</p>
</details>

## <font color='red'>Quiz </font>

Consider taking the following quiz to test your knowledge: <A HREF="https://realpython.com/quizzes/python-data-types/"> Basic Data Types </A>